<mat-sidenav-container>
    <mat-sidenav mode="side" opened>
        <div class="navbar-top">
            <mat-icon class="schedules-icon">pending_actions</mat-icon><a routerLink="/">Schedule</a><br><br>
            <mat-icon class="vehicles-icon">garage</mat-icon><a routerLink="/">Vehicles</a><br><br>
            <mat-icon class="routes-icon">alt_route</mat-icon><a routerLink="/">Depo routes</a><br>
        </div><div class="navbar-bottom">
            <mat-icon class="settings-icon">build</mat-icon><a routerLink="/">Settings</a><br><br>
            <mat-icon class="logout-icon">logout</mat-icon><a routerLink="/">Logout</a><br>
        </div>
    </mat-sidenav>
    <!--<mat-sidenav-content>Dashboard</mat-sidenav-content>-->
  </mat-sidenav-container>