mat-sidenav-container {
    height: 90%;    
}

mat-sidenav {
    width: 15%;
    border-right: 2px solid grey;
    padding: 2%;
    padding-top: 1%;
    color: gray;
    font-weight: bold;
}

.navbar-bottom {
    margin-top: 220%;
    padding: 1%;
}

mat-icon {
    color: grey;
    font-size: 25px;
  }
  
  a {
    margin-left: 20px;
    cursor: pointer;
  }

  mat-sidenav-content {
    color: rgb(75, 75, 155);
    margin-left: 30%;
    font-size: 30px;
  }